<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Chris (Under 17) 100m Breast</title>
                            <link rel ="stylesheet" href="/static/webapp.css"/>
                        </head>
                        <body>
                            <h2>Chris (Under 17) 100m Breast</h2>
                            <svg height="30" width="400">
                                <rect height="30" width="345.21" style="fill:rgb(0,0,255);" />
                            </svg>1:28.67<br />
                            <svg height="30" width="400">
                                <rect height="30" width="343.07" style="fill:rgb(0,0,255);" />
                            </svg>1:28.12<br />
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:29.90<br />
                            <svg height="30" width="400">
                                <rect height="30" width="345.95" style="fill:rgb(0,0,255);" />
                            </svg>1:28.86<br />
                            <p>Average time: 1:28.89</p>
                        </body>
                    </html>
